* {
    margin:0;
    padding:0;
}
.wlcm {
    background-image: url(/home/img/cat1.jpg);
    height: 850px;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
}
nav.navbar {
    display: inline-block;
    margin-bottom:20px;
    width:100%;
}
ul .navbar-nav {
    display: inline-block;
    margin-left: 80px;
}
li .nav-item {
    display: inline;  
}
.dark {
    background-color: rgb(40, 40, 40);
}
.sidebar-link {
    text-decoration: none;

}
.sidebar-link:hover{
    color: rosybrown;
}
.btn-fkn:hover{
    background-color: rosybrown;
    color: black;
    fill: black;
}
.menu-link {
    float: right;
    padding: 10px 10px 10px 5px;
    text-decoration: none;
    border: 0.5px solid rosybrown;
    border-right: 3px solid rosybrown;
    border-bottom: 3px solid rosybrown;
    border-radius: 10px;
    color: rosybrown;
    margin: 0 5px;
    transition: .3s ease-in-out;
}
.menu-link:hover {
    background-color: rosybrown;
    padding: 10px 13px 13px 10px;
    border: 0.5px solid rgb(40, 40, 40);
    transition: .3s ease-in-out;
    transition-property: all;
    transition-duration: .3s all;
    transition-timing-function: ease-in-out all;
    color: black;
}
.greeting {
    width: 100%;
    display: inline-block;
    color: aliceblue;
    text-align: center;
    margin-top: 15%;
    
}
.welcome-text {
    font-size: 50px;
}
.minor-txt {
    font-size: 27px;
}
.grt-line {
    width: 50%;
    color: whitesmoke;
    left: 50%;
    transform: translate(50%);
}
.grt-btn {
    margin-top: 20px;
    padding:20px 18px;
    color: rosybrown;
    background-color: transparent;
    border-radius: 350px;
    border-bottom-left-radius: 80px;
    border-top-right-radius: 80px;
    transition: all 0.5s;
    border-left: 2px solid whitesmoke;
    border-top: 2px solid whitesmoke;
    border-right: 2px solid rgb(219, 165, 159);
    border-bottom: 2px solid rgb(219, 165, 159);
    animation: btn_move 2s 3;
}
@keyframes btn_move {
   from {transform: rotate(0deg);}
   to {transform: rotate(360deg);} 
}
.grt-btn:hover {
    background-color: rosybrown;
    color: whitesmoke;
    border-left: 2px solid whitesmoke;
    border-top: 2px solid whitesmoke;
    border-right: 2px whitesmoke;
    border-bottom: 2px solid whitesmoke;
}
.modal-content {
    background-color: rgb(120, 90, 0);
}
input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  #modal-form {
    border-radius: 5px;
    background-color:transparent;
    padding: 20px;
  }

.clients {
    padding: 20px 20px;
    max-width: 100%;
    background-color: rgb(147, 133, 133);
}
.client-img {
    max-width: 50%;
    padding: 20px 20px;
    filter: grayscale(100);
    transition: all 0.4s ease;
}
.client-img:hover{
    filter: grayscale(0);
}
.feed-title {
    padding: 30px;
    margin-top:40px;
    text-align: center;
}
.feed-item {
    margin-bottom: 30px;
    overflow: hidden;
}
.feed-item img {
position: relative;
  top: 0;
  transition: all 0.6s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.feed-info {
    opacity: 0;
    position: absolute;
    left: 15px;
    right: 15px;
    bottom: -50px;
    z-index: 3;
    transition: all ease-in-out 0.3s;
    background: rgb(186, 129, 123);
    padding: 15px 20px;
  }
.feed-info h4 {
    font-size: 18px;
    color: #fff;
    font-weight: 600;
  }
.preview-link , .details-link {
    position: absolute;
  right: 50px;
  font-size: 24px;
  top: calc(50% - 18px);
  color: rgba(255, 255, 255, 0.7);
  transition: ease-in-out 0.3s;
}
.preview-link:hover, .details-link:hover{
    color: white;
}
.details-link {
    right:15px;
}
.feed-item:hover img {
    top:-30px;
}
.feed-item:hover .feed-info {
    opacity: 1;
    bottom: 0;
}
section.contact {
    background-color: rgb(93, 51, 120);
    padding: 50px;
}
section.contact div.container {
    width:50%;
}
.contact-btn {
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 10px 35px;
    border-radius: 25px;
    transition: 0.5s;
    margin-top: 10px;
    border: 2px solid #ffc107;
    color: #fff;
    text-decoration: none;
}
.contact-btn:hover {
    background-color: #ffc311d3;
    color:white;
}
.faq {
    background-color: rgba(222, 222, 222, 0.7);
}
.faq .container {
    width: 60%;
}
.faq-title {
    padding-top: 60px;
    padding-bottom: 30px;
    text-align: center;
}
.faq-list ul {
    list-style-type: none;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding-bottom: 60px;
    margin-bottom: 0;
}
.faq-list li {
    padding: 20px;
    margin: 10px 0;
    background: #fff;
    border-radius: 4px;
    position: relative;
    margin-bottom: 0;
}
.faq-list a {
    display: block;
    text-decoration: none;
    color: rgb(40, 40, 40);
    position: relative;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    padding: 0 30px;
    outline: none;
    cursor: pointer;
}
.faq-list a:hover {
    color: rgb(219, 165, 159);
}
.faq-list a.collapse {
    transition: 0.3s ease;
}
.faq-list a.collapsed:hover {
    color: rgb(219, 165, 159);
}
div#faq-info-2.collapse.show {
    transition: 0.4s ease;
}
div#faq-info-3.collapse.show {
    transition: 0.4s ease;
}
div#faq-info-4.collapse.show {
    transition: 0.4s ease;
}
div#faq-info-5.collapse.show {
    transition: 0.4s ease;
}
div#faq-info-2.collapse.show {
    padding-top: 20px;
}
div#faq-info-3.collapse.show {
    padding-top: 20px;
}
div#faq-info-4.collapse.show {
    padding-top: 20px;
}
div#faq-info-5.collapse.show {
    padding-top: 20px;
}
#footer {
    background-color: rgba(162, 162, 162, 0.723);
}
@viewport {
    width: device-width;
    zoom:1;
 }

@media only screen and (min-device-width: 320px) and (max-device-width: 800px) {
    .navbar {
        margin: 0;
        padding:0;
    }
    .btn-fkn {
        float:right;
        margin-top: 20px;
    }
    .navbar-nav {
        margin-top: 50px;
        text-align: center;
        float: center;

    }
    .menu-link {
        position: relative;
        float: left;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        background-color: black;
        margin:auto;
      
    }
    .greeting {
        margin-top:10px;
    }

}
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3) { 
    .navbar-nav {
        margin-top: 50px;
        text-align: center;
        float: center;

    }
    .menu-link {
        position: relative;
        float: left;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        background-color: black;
        margin:auto;
      
    } 

}
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 
    .navbar-nav {
        margin-top: 50px;
        text-align: center;
        float: center;

    }
    .menu-link {
        position: relative;
        float: left;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        background-color: black;
        margin:auto;
      
    } 
}
@media only screen and (min-device-width: 414px) and (max-device-width: 896px) and (-webkit-min-device-pixel-ratio: 2) {
    .navbar-nav {
        margin-top: 50px;
        text-align: center;
        float: center;

    }
    .menu-link {
        position: relative;
        float: left;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        background-color: black;
        margin:auto;
      
    }
}