.welcome {
    background-image: url(../home/img/Homepage.png) no-repeat center top / cover;
    background-size: 100%;
    width: 930px;
    height: 500px;
}
ul .navbar-nav {
    display: inline-block;
    margin-left: 80px;
}
li .nav-item {
    display: inline;
}